.App {
  text-align: center;

  /* background-color: rgba(44, 223, 223, 0.511);  */
}

/* .App ::-webkit-scrollbar {
  display: hide;
} */

.navbarDiv {
  margin: auto;
  margin-top: 1rem;
  /* background-color: red;  */
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px; 
}  


.navlinks:hover {
  color: red;
  border-bottom: 3px solid red;
  padding-bottom: 2px;
  border-radius: 0.5px;
  transition: ease-in-out;
}

.navlinks {
  padding-bottom: 8px;
}

.createFlashcardDiv {
  background-color: white;
  width: 85%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 23px;
}

/*       temprory css     // */

 .error {
  color: red;
}

input,
textarea {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
} 

label {
  color: rgb(129, 125, 125);
  font-weight: bold;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 5px;
}
/*
.termsDiv {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.groupImgDelIcon {
  margin-top: 10px;
  margin-left: -20px;
  text-align: left;
  color: rgb(156, 153, 150);
}

.groupImgDelIcon:hover {
  color: red;
  font-size: xx-large;
  cursor: pointer;

}

/* 2nd Page */
/* .myFlashcardDiv {
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.parentCardDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;


}

.childCards {
  background-color: white;
  display: flex;
  width: 300px;
  height: 250px;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-top: 40px;


} */

/* /////////////CardDetails Page /////////////// */
/* .shareBtns {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
  color: gray;
  font-weight: 500;
  cursor: pointer;
  padding-right: 70px;
}  */