.App {
  text-align: center;
  /* background-color: rgba(44, 223, 223, 0.511); */
}

.navbarDiv {
  margin: auto;
  margin-top: 2rem;
  /* background-color: red; */
  width: 80%;
  margin-bottom: 2rem;
  padding: 10px;
}


.navlinks:hover {
  color: red;
  border-bottom: 3px solid red;
  padding-bottom: 2px;
  border-radius: 0.5px;
  transition: ease-in-out;
}

.navlinks {
  padding-bottom: 8px;
}

.createFlashcardDiv,
.myFlashcardDiv {
  background-color: white;
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}

