.App {
  text-align: center;

  /* background-color: rgba(44, 223, 223, 0.511); */
}

/* .App ::-webkit-scrollbar {
  display: hide;
} */

.navbarDiv {
  margin: auto;
  margin-top: 1rem;
  /* background-color: red; */
  width: 80%;
  margin-bottom: 1rem;
  padding: 10px;
}


.navlinks:hover {
  color: red;
  border-bottom: 3px solid red;
  padding-bottom: 2px;
  border-radius: 0.5px;
  transition: color 1s;
}

.navlinks {
  padding-bottom: 8px;
}

.navlinks:active {
  color: red;
  transition: none;
}


.createFlashcardDiv {
  background-color: white;
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 25px;
}

.error {
  color: red;
}

input,
textarea {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
}

label {
  color: rgb(129, 125, 125);
  font-weight: bold;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 5px;
}

.termsDiv {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.groupImgDelIcon {
  margin-top: 10px;
  margin-left: -20px;
  text-align: left;
  color: rgb(156, 153, 150);
}

.groupImgDelIcon:hover {
  color: red;
  font-size: xx-large;
  cursor: pointer;

}

/* 2nd Page MyFlashCard */
.displayFlashcardDiv {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 10px;
}

.childCards {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  width: 300px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 40px;
  position: relative;
  margin-bottom: 10px;
}

.childCards:hover>.del {
  /* background-color: red; */
  display: block;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

/* /////////////FlashCardDetails Page /////////////// */
.commonBorder {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.shareBtns {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
  color: rgb(93, 92, 92);
  font-weight: 500;
  width: 180px;
  transition: background-color 1s;

}

.shareBtns:focus {
  background-color: rgb(172, 23, 23);
  color: white;
  transition: none;
}

.shareBtns:hover {
  background-color: gray;
  color: white;
}

.ico {
  font-size: larger;
  margin: 0px 10px;
}

.modalDiv {
  z-index: 9;
  background: #363736be;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;
}


@media screen and (max-width: 800px) {
  body {
    /* background-color: lightgreen; */
  }

  .midBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .flashcardsDiv {
    width: 100%;
    height: fit-content;
  }

  .termDiv {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
    gap: 10px;
  }

  .singleTerms {

    /* border: 2px solid red; */
  }

  /*  */
  .displayTermBox {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    /* border: 2px solid red; */
    overflow-y: auto;
    overflow-x: hidden;
  }

  .displayTermBox p {
    width: 100%;
    padding: 10px;
  }
  
  .dImg{
    width: 100%;
    height: 60%;
  }
  .shareBtns {
    padding: 0px;
    font-weight: 500;
    width: fit-content;
    /* border: 2px solid red; */
    margin: auto;

  }

  .shareBtnsDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}